/*
* Author: Remi Barlet
* email: rbarlet@protonmail.com
* This animated 'plus' button is based on a base line and a pseudo-element ::after
* the pseudo-element ::before is used to be the 'minus' button of the animation
* Variable: --duration for the duration of the animation
* Variable: --btnColor for the color of the plus/minus button
* Variables may be overriden by the js file calling this css 
*/

/*
* outer-div css
*/
.btnPlusToMinusWrapper {
    float: right;
    --height: 2em;
    font-size: var(--height);
    cursor: pointer;
}

.btnPlusToMinus {
    height: 1em;
    width: 1em;
    position: relative;
    cursor: pointer;
    margin: 0.5em;
    --duration: 0.3s;
    --btnColor: #2e3131;
}

/*
* plus-lines
*/
.btnPlusToMinus-lines{
    top: calc(50% - 00.125em/2);
    transition: var(--duration);
}

.btnPlusToMinus .btnPlusToMinus-lines:after {
    width: 1em;
    transform: rotate(90deg);
  }

.btnPlusToMinus .btnPlusToMinus-lines, .btnPlusToMinus .btnPlusToMinus-lines:after {
    background-color: var(--btnColor);
}

/*
* minus-line 
*/
.btnPlusToMinus .btnPlusToMinus-lines:before {
    width: 1em;
    background-color: transparent;
}

/*
* all lines style
*/
.btnPlusToMinus .btnPlusToMinus-lines, .btnPlusToMinus .btnPlusToMinus-lines:after,
.btnPlusToMinus .btnPlusToMinus-lines:before {
    pointer-events: none;
    display: block;
    content: '';
    width: 100%;
    border-radius: 0.25em;
    height: 0.125em;
    position: absolute;
}

/*
* onClick from closed to opened 
* first step (cubic-bezier curbs) the plus desappears
* second step the minus appears
*/
.btnPlusToMinus.open .btnPlusToMinus-lines, .btnPlusToMinus.open .btnPlusToMinus-lines:after {
    background-color: transparent;
    transition: cubic-bezier(1, 0, 0, 1) var(--duration);
}

.btnPlusToMinus.open .btnPlusToMinus-lines:before {
    transition: cubic-bezier(0, 0, 1, 0) var(--duration);
    background-color: var(--btnColor);
}

/*
* onClick from opened to closed
* first step (cubic-bezier curbs) the minus desappears
* second step the plus appears
*/
.btnPlusToMinus.closed .btnPlusToMinus-lines, .btnPlusToMinus.closed .btnPlusToMinus-lines:after {
    transition: cubic-bezier(0, 0, 1, 0) var(--duration);
}

.btnPlusToMinus.closed .btnPlusToMinus-lines:before {
    transition: cubic-bezier(1, 0, 0, 1) var(--duration);
}