.btnplus {
    height: 1em;
    width: 1em;
    position: relative;
    cursor: pointer;
    transition: .3s all;
    margin: 0.5em;
}

.btnplus-lines{
    top: calc(50% - 00.125em/2);
}

.btnplus .btnplus-lines:after {
    width: 1em;
    transform: rotate(90deg);
  }

.btnplus .btnplus-lines, .btnplus .btnplus-lines:after {
    pointer-events: none;
    display: block;
    content: '';
    width: 100%;
    border-radius: 0.25em;
    background-color: #2e3131;
    height: 0.125em;
    position: absolute;
}

.btnplus.open .btnplus-lines {
    transform: rotate(-45deg);
    transition: 0.3s;
}

.btnplus.open .btnplus-lines, .btnplus.open .btnplus-lines:after {
    height: 0.15em;
}


.btnplus.closed .btnplus-lines, .btnplus.closed .btnplus-lines:after {
    transition: 0.3s;
}