/*
* Author: Remi Barlet
* email: rbarlet@protonmail.com
* This animated 'plus' button is based on a base line (horizontal)
* and a pseudo-element ::after line (vertical)
* Variable: --duration for the duration of the animation
* Variable: --btnColor for the color of the plus/minus button
* Variables may be overriden by the js file calling this css 
*/

/*
* outer-div css
*/
.btnplus {
    height: 1em;
    width: 1em;
    position: relative;
    cursor: pointer;
    margin: 0.5em;
    --duration: 300ms;
    --btnColor: #2e3131;
}

/*
* plus-lines aspect
*/
.btnplus-lines{
    top: calc(50% - 00.125em/2);
    transition: var(--duration);
}

.btnplus .btnplus-lines:after {
    width: 1em;
    transform: rotate(90deg);
  }

.btnplus .btnplus-lines, .btnplus .btnplus-lines:after {
    pointer-events: none;
    display: block;
    content: '';
    width: 100%;
    border-radius: 0.25em;
    background-color: var(--btnColor);
    height: 0.125em;
    position: absolute;
}

/*
* rotation on click
*/
.btnplus.open .btnplus-lines {
    transform: rotate(-45deg);
}

.btnplus.open .btnplus-lines, .btnplus.open .btnplus-lines:after {
    height: 0.15em;
}
