/*
* Author: Remi Barlet
* email: rbarlet@protonmail.com
* This animated 'plus' button is based on a base line (horizontal)
* and a pseudo-element ::after line (vertical)
* Variable: --duration for the duration of the animation
* Variable: --btnColor for the color of the plus/minus button
* Variables may be overriden by the js file calling this css 
*/

/*
* outer-div css
*/
.btnPlusSpinnerWrapper {
    float: right;
    --height: 2em;
    font-size: var(--height);
    cursor: pointer;
}

.btnPlusSpinner {
    height: 1em;
    width: 1em;
    position: relative;
    cursor: pointer;
    margin: 0.5em;
    --duration: .3s;
    --btnColor: #2e3131;
}

/*
* plus-lines
*/
.btnPlusSpinner-lines{
    top: calc(50% - 00.125em/2);
    transition: var(--duration);
}

.btnPlusSpinner .btnPlusSpinner-lines:after {
    width: 1em;
    transform: rotate(90deg);
  }

.btnPlusSpinner .btnPlusSpinner-lines, .btnPlusSpinner .btnPlusSpinner-lines:after {
    pointer-events: none;
    display: block;
    content: '';
    width: 100%;
    border-radius: 0.25em;
    background-color: var(--btnColor);
    height: 0.125em;
    position: absolute;
}

/*
* spinning onClick
*/
.btnPlusSpinner.open .btnPlusSpinner-lines {
    transform: rotate(-405deg);
}

.btnPlusSpinner.open .btnPlusSpinner-lines, .btnPlusSpinner.open .btnPlusSpinner-lines:after {
    height: 0.15em;
}


.btnPlusSpinner.closed .btnPlusSpinner-lines {
    transform: rotate(360deg);
}