/*
* Author: Remi Barlet
* email: rbarlet@protonmail.com
* This animated burger is based on a central line with pseudo-elements
* the central line slides to the left and disappears on click
* pseudo-elements rotate to form a cross
* Variable: --duration for the duration of the animation
* Variable: --burgerColor for the color of the lines
* Variables may be overriden by the js file calling this css 
*/

/*
* outer-div css
*/
.burgerWrapper {
    float: right;
    --fontSize: 2em;
    font-size: var(--fontSize);
    cursor: pointer;
}

.burger {
    height: 1em;
    width: 1em;
    margin: 0.5em;
    position: relative;
    cursor: pointer;
    --duration: 0.25s;
    --burgerColor: #2e3131;
}

/*
* burger lines aspect
*/ 
.burger .burger-lines {
    top: calc(50% - 0.125em/2);
}
    
.burger .burger-lines, .burger .burger-lines:after, .burger .burger-lines:before {
    pointer-events: none;
    display: block;
    content: '';
    width: 100%;
    border-radius: 0.25em;
    background-color: var(--burgerColor);
    height: 0.125em;
    position: absolute;
    transform: rotate(0); 
}

.burger .burger-lines:after {
    transform: translateY(-0.25em); 
}

.burger .burger-lines:before {
    transform: translateY(0.25em); 
}

.burger .burger-lines:after, .burger .burger-lines:before {
    left: 0;
    width: 1em; 
}
  
/*
* animation speed and behaviour
*/
.burger .burger-lines, .burger .burger-lines:after, .burger .burger-lines:before {
    transition: all var(--duration); 
}
 
/*
* burger final aspect 
*/
.burger.open .burger-lines {
    transform: translateX(-1.5em);
    background-color: transparent; 
}

.burger.open .burger-lines:before, .burger.open .burger-lines:after {
    left: 0.5em;
    top: 0px; 
    height: 0.15em;

}

.burger.open .burger-lines:before {
    transform: translateX(1em) rotate(45deg); 
}

.burger.open .burger-lines:after {
    transform: translateX(1em) rotate(-45deg); 
}